body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #eaeaea;
}

header {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

.name {
    font-size: 20px;
    color: #FFD700; 
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-size: 18px;
    padding: 5px 10px;
    background-color: #ddd;
    border-radius: 5px; 
}

nav ul li a:hover {
    background-color: #ccc; 
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.name-footer {
    font-size: 16px;
    color: #FFD700; 
}

footer a {
    color: #FFD700; 
}

footer a:hover {
    color: white; 
}
